/* User page */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

* {
  padding: 0px;
  margin: 0px;
}



.header {
  width: 95vw;
  height: 50px;
  background-color: #e7e7e7;
  margin-left: 2.5vw;
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.boeking {
  width: 450px;
  height: 120px;
  background-color: #727272;
  border-radius: 25px;
  margin-left: 35px;
  margin-top: 11px;
}

.boeking {
  width: 30vw;
  height: 15vh;
  background-color: yellow;
  border-radius: 25px;
  margin-left: 35px;
  margin-top: 11px;
}

.mainbox {
  display: flex;
  flex-wrap: wrap;
  width: 1500px;
  height: 660px;
  margin-left: 10px;
  flex-direction: column;
  align-content: flex-start;
}

.dash {
  background: none;
  display: flex;
  justify-content: center;
  padding-top: 4vh;
  font-family: "Lato", sans-serif;
}

.box1 {
  display: flex;
  width: 30vw;
  height: 66.5vh;
  background-color: #cacaca;
  border-radius: 25px;
  margin-left: 35px;
  margin-top: 8px;
  align-items: flex-end;
}

.box2 {
  display: flex;
  width: 64vw;
  height: 84vh;
  background-color: #cacaca;
  border-radius: 25px;
  margin-left: 11px;
  margin-top: 9px;
}

.account {
  font-family: "Lato", sans-serif;
  background: none;
  display: flex;
  justify-content: center;
  padding-top: 0.6vh;
  font-weight: 500;
  font-size: 30;
  /* padding-top: 12px;
  padding-left: 20px; */
}

body{
  background: url('../img/achtergrond/GettyImages755761377.jpg') no-repeat center center fixed;
}

.color-mode {
  aspect-ratio: 1;
  filter: invert(var(--dark-mode));
  inline-size: 25rem;
  max-inline-size: 50vw;
  transform: rotate(calc(var(--dark-mode) * 180deg));
  transition: all .6s ease;
  width: 40px;
    margin-left: 1025px;
}

body {
  --dark-mode: 0;
  background-color: hsl(0, 0%, calc(100% * (1 - var(--dark-mode))));
  display: grid;
  min-block-size: 95vh;
  place-content: center;
  transition: all .6s ease;
}

.clock {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}
.clock__block {
	background-color: hsl(var(--hue),10%,90%);
	border-radius: 0.5rem;
	box-shadow: 0 1rem 2rem hsla(var(--hue),90%,50%,0.3);
	font-size: 3em;
	line-height: 2;
	margin: 0.75rem;
	overflow: hidden;
	text-align: center;
	width: 6rem;
	height: 6rem;
	transition:
		background-color var(--trans-dur),
		box-shadow var(--trans-dur);
}
.clock__block--small {
	border-radius: 0.25rem;
	box-shadow: 0 0.5rem 2rem hsla(var(--hue),90%,50%,0.3);
	font-size: 1em;
	line-height: 3;
	width: 3rem;
	height: 3rem;
}
.clock__colon {
	display: none;
	font-size: 2em;
	opacity: 0.5;
	position: relative;
}
.clock__colon:before,
.clock__colon:after {
	background-color: currentColor;
	border-radius: 50%;
	content: "";
	display: block;
	position: absolute;
	top: -0.05em;
	left: -0.05em;
	width: 0.1em;
	height: 0.1em;
	transition: background-color var(--trans-dur);
}
.clock__colon:before {
	transform: translateY(-200%);
}
.clock__colon:after {
	transform: translateY(200%);	
}
.clock__digit-group {
	display: flex;
	flex-direction: column-reverse;
}
.clock__digits {
	width: 100%;
	height: 100%;
}
.clock__block--bounce {
	animation: bounce 0.75s; 
}
.clock__block--bounce .clock__digit-group {
	animation: roll 0.75s ease-in-out forwards; 
	transform: translateY(-50%);
}
.clock__block--delay1,
.clock__block--delay1 .clock__digit-group {
	animation-delay: 0.1s;
}
.clock__block--delay2,
.clock__block--delay2 .clock__digit-group {
	animation-delay: 0.2s;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
	}
	.clock__block {
		background-color: hsl(var(--hue),90%,40%);
		box-shadow: 0 1rem 2rem hsla(var(--hue),90%,60%,0.4);
	}
	.clock__block--small {
		box-shadow: 0 0.5rem 2rem hsla(var(--hue),90%,60%,0.4);
	}
}

/* Beyond mobile */
@media (min-width: 768px) {
	.clock {
		flex-direction: row;
	}
	.clock__colon {
		display: inherit;
	}
}

/* Animations */
@keyframes bounce {
	from,
	to {
		animation-timing-function: ease-in;
		transform: translateY(0);
	}
	50% {
		animation-timing-function: ease-out;
		transform: translateY(15%);
	}
}
@keyframes roll {
	from {
		transform: translateY(-50%);
	}
	to {
		transform: translateY(0);
	}
}

body {
  display: block;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #5c5c5c, #69a0a1);
  background-size: 500%; 
  animation: background-img-animation 20s alternate infinite;
  justify-content: center;
  align-items: center;
}

@keyframes background-img-animation {
  0% {
    background-position: left
  }
  100% {
    background-position: right
  }
} 